.controllers {
  padding: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.controllers h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0.5rem;
}

.knobs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
