.column {
  background-color: hsl(320deg 70% 25% / 90%); /* Hot pink */
  background: linear-gradient(
    0deg,
    hsl(320deg 70% 25% / 90%),
    hsl(320deg 70% 30%),
    hsl(320deg 70% 35%),
    hsl(320deg 70% 30%),
    hsl(320deg 70% 25% / 90%)
  );
  position: relative;
  padding: 12px; /* just enough for screws */
}

.spacer {
  display: block;
  margin-bottom: -2px;
  width: 100%;
  height: 8px;
  align-self: flex-end;
  background-color: hsl(320deg 70% 25% / 0%); /* Hot pink */
}

.screw {
  position: absolute;
  width: 12px;
  height: 12px;
  background: radial-gradient(
    circle at center,
    hsl(217deg 20% 25%) 0%,
    hsl(217deg 20% 20%) 30%,
    hsl(217deg 20% 15%) 60%,
    hsl(217deg 20% 10%) 100%
  );
  border-radius: 50%;
  z-index: 101;
}

.screw::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  background: linear-gradient(
      90deg,
      transparent 40%,
      hsl(217deg 20% 5% / 80%) 40%,
      hsl(217deg 20% 5% / 80%) 60%,
      transparent 60%
    ),
    linear-gradient(
      0deg,
      transparent 40%,
      hsl(217deg 20% 5% / 80%) 40%,
      hsl(217deg 20% 5% / 80%) 60%,
      transparent 60%
    );
  border-radius: 1px;
}

.screwTopLeft {
  composes: screw;
  top: 4px;
  left: 4px;
}

.screwTopRight {
  composes: screw;
  top: 4px;
  right: 4px;
}

.screwBottomLeft {
  composes: screw;
  bottom: 4px;
  left: 4px;
}

.screwBottomRight {
  composes: screw;
  bottom: 4px;
  right: 4px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  padding-bottom: var(--spacing-lg);
  /* padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg); */
  position: relative;
}

.horizontalIndent {
  display: block;
  margin-bottom: -2px;
  width: 100%;
  height: 8px;
  align-self: flex-end;
  background: linear-gradient(
    0deg,
    hsl(320deg 70% 0% / 0%),
    hsl(320deg 70% 0% / 10%),
    hsl(320deg 70% 5%),
    hsl(320deg 70% 25%),
    hsl(320deg 70% 25% / 90%)
  );
}
