.column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: 4px 20px;
  background: linear-gradient(
    0deg,
    hsl(320deg 70% 25% / 90%),
    hsl(320deg 70% 30%),
    hsl(320deg 70% 35%),
    hsl(320deg 70% 30%),
    hsl(320deg 70% 25% / 90%)
  );
  background-color: hsl(320deg 70% 25% / 90%);
}

.screw {
  position: absolute;
  z-index: 101;
  width: 12px;
  height: 12px;
  background: radial-gradient(
    circle at center,
    hsl(217deg 20% 25%) 0%,
    hsl(217deg 20% 20%) 30%,
    hsl(217deg 20% 15%) 60%,
    hsl(217deg 20% 10%) 100%
  );
  border-radius: 50%;
}

.screw::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: linear-gradient(
      90deg,
      transparent 40%,
      hsl(217deg 20% 5% / 80%) 40%,
      hsl(217deg 20% 5% / 80%) 60%,
      transparent 60%
    ),
    linear-gradient(
      0deg,
      transparent 40%,
      hsl(217deg 20% 5% / 80%) 40%,
      hsl(217deg 20% 5% / 80%) 60%,
      transparent 60%
    );
  border-radius: 1px;
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
}

.screwTopLeft {
  composes: screw;
  top: 4px;
  left: 4px;
}

.screwTopRight {
  composes: screw;
  top: 4px;
  right: 4px;
}

.screwBottomLeft {
  composes: screw;
  bottom: 4px;
  left: 4px;
}

.screwBottomRight {
  right: 4px;
  bottom: 4px;
  composes: screw;
}

.row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-sm);
}

.horizontalIndent {
  display: block;
  margin-bottom: -2px;
  width: 100%;
  height: 8px;
  align-self: flex-end;
  background: linear-gradient(
    0deg,
    hsl(320deg 70% 0% / 0%),
    hsl(320deg 70% 0% / 10%),
    hsl(320deg 70% 5%),
    hsl(320deg 70% 25%),
    hsl(320deg 70% 25% / 90%)
  );
}
