body {
  font-family: var(--font-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 0.5rem;
  user-select: none;
}

.controls {
  display: flex;
  gap: 0.75rem;
}

.box {
  position: relative;
  height: calc(var(--row-height) - 8px);
  height: fit-content;
  margin: 4px;
  border: 2px solid hsla(217, 30%, 40%, 0.4);
  border-radius: 2px;
  background: hsl(217, 40%, 15%);
  overflow: hidden;
}
