body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  font-weight: 600;
}

.section {
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.row {
  display: flex;
  gap: var(--spacing-md);
}

.section-title {
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: var(--spacing-sm);
  user-select: none;
  color: var(--color-text-secondary);
}

.box {
  height: fit-content;
  margin: var(--spacing-xs);
  border: 2px solid var(--synth-border);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}
