.box {
  position: relative;
  height: calc(var(--row-height) - 8px);
  height: fit-content;
  margin: 4px;
  border: 2px solid hsla(217, 30%, 40%, 0.4);
  border-radius: 2px;
  background: hsl(217, 40%, 15%);
  overflow: hidden;
}

.section-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 0.5rem;
}
