@define-mixin gradient-dark $direction {
  background: linear-gradient($direction, hsl(0deg 0% 20%), hsl(0deg 0% 5%));
}

@define-mixin gradient-light $direction {
  background: linear-gradient($direction, hsl(0deg 0% 100%), hsl(0deg 0% 80%));
}

@define-mixin gradient-control $direction {
  background: linear-gradient($direction, hsl(0deg 0% 25%), hsl(0deg 0% 20%));
}

@define-mixin gradient-control-hover $direction {
  background: linear-gradient($direction, hsl(0deg 0% 30%), hsl(0deg 0% 25%));
}

@define-mixin gradient-control-active $direction {
  background: linear-gradient($direction, hsl(0deg 0% 30%), hsl(0deg 0% 25%));
  box-shadow: inset 0 1px 1px hsl(0deg 0% 35%);
}

@define-mixin gradient-shadow $direction {
  background: linear-gradient(
    $direction,
    hsl(0deg 0% 100% / 0%) 0%,
    hsl(0deg 0% 50% / 50%) 50%,
    hsl(0deg 0% 0% / 100%) 100%
  );
}

@define-mixin gradient-key-active {
  background: linear-gradient(
    to bottom,
    hsl(0deg 0% 5%) 0,
    hsl(0deg 0% 15%) 5px,
    hsl(0deg 0% 10%) 100%
  );
}

@define-mixin gradient-key-inner $direction {
  background: linear-gradient($direction, hsl(0deg 0% 18%), hsl(0deg 0% 12%));
  border-radius: 0 0 4px 4px;
}
