.modifiers {
  padding: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filterSection,
.envelopeSection,
.lfoSection {
  display: flex;
  justify-content: center;
}
