.effectsContainer {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
}

.effects {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  position: relative;
}
