.indent {
  width: 8px;
  background: linear-gradient(
    90deg,
    hsl(217deg 20% 10%),
    hsl(217deg 40% 25%),
    hsl(217deg 10% 5%),
    hsl(217deg 30% 20%),
    hsl(217deg 50% 25%)
  );
}

.sectionTitle {
  text-orientation: upright;
  writing-mode: vertical-rl;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text-secondary);
  background-color: hsl(217deg 20% 10%);
  background: linear-gradient(
    180deg,
    hsl(217deg 20% 5% / 50%),
    hsl(217deg 20% 0% / 0%)
  );
  padding: var(--spacing-sm);
}
