.keyboardContainer {
  position: relative;
  margin-right: var(--spacing-lg);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-md);
}

.keyboard {
  background: var(--synth-bg);
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
  position: relative;
  padding: 0 var(--spacing-xs) var(--spacing-xs);
  box-shadow: 0 4px 6px -1px var(--synth-border), 0 4px 6px -1px var(--synth-bg);
  &:before {
    content: "";
    box-shadow: 0 4px 8px 8px hsl(217 30% 0% / 0.375);
    background: linear-gradient(
      180deg,
      var(--synth-gradient-start),
      var(--synth-bg)
    );
    display: flex;
    position: relative;
    width: calc(100% + 190px);
    height: var(--spacing-md);
    left: -170px;
    z-index: 5000;
  }
}

.pianoKeys {
  position: relative;
  height: 100%;
  display: flex;
  gap: 2px;
}

.leftShadow {
  pointer-events: none;
  position: absolute;
  background: linear-gradient(
    270deg,
    hsl(0 0% 100% / 0) 0%,
    hsl(0 0% 50% / 0.5) 50%,
    hsl(0 0% 0% / 1) 100%
  );
  filter: blur(9px);
  width: var(--spacing-lg);
  height: 100%;
  z-index: 10;
}

.rightShadow {
  pointer-events: none;
  position: absolute;
  right: 0;
  background: linear-gradient(
    90deg,
    hsl(0 0% 100% / 0) 0%,
    hsl(0 0% 50% / 0.5) 50%,
    hsl(0 0% 0% / 1) 100%
  );
  filter: blur(9px);
  width: var(--spacing-lg);
  height: 100%;
  z-index: 10;
}

.whiteKey {
  height: 194px;
  flex: 1;
  background: linear-gradient(180deg, var(--key-white), var(--key-white-hover));
  box-shadow: inset 0 0.5px 0.5px 1px hsla(0, 0%, 0%, 0.4),
    inset 0 0 0.5px 1.5px hsla(0, 0%, 90%, 0.5),
    inset 0 0 0.5px 2.5px hsla(0, 0%, 90%, 0.5);
  border-bottom: 3px solid var(--keyboard-border);
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
  cursor: pointer;
  transition: var(--transition-fast);
  &:before {
    z-index: 1000;
    content: "";
    display: block;
    height: 60px;
    background: linear-gradient(
      0deg,
      hsl(0 0% 80% / 0) 0%,
      hsl(0 0% 50% / 0.375) 50%,
      hsl(0 0% 20% / 0.85) 100%
    );
  }
}

.whiteKeyActive {
  background: linear-gradient(
    to bottom,
    var(--key-white) 0%,
    var(--key-white-hover) 75%,
    var(--key-white-active) 85%,
    var(--key-white-hover) 90%,
    var(--key-white-active) 95%
  );
  transform: translateY(2px);
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.1), inset 0 1px 1px var(--key-white);
}

.blackKey {
  position: absolute;
  top: 2px;
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
  height: 123px;
  border-top: 2px solid var(--key-black);
  background: linear-gradient(
    to bottom,
    var(--key-black),
    var(--key-black-hover)
  );
  cursor: pointer;
  transition: var(--transition-fast);
  z-index: 20;
  box-shadow: 0 4px 6px hsl(0 0% 0% / 0.3), inset 0 1px 1px var(--key-black);
  transform: translateY(-2px);
  &:after {
    content: "";
    top: 0px;
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 15px;
    background: linear-gradient(
      180deg,
      var(--key-black),
      var(--key-black-hover)
    );
    box-shadow: inset 0 0 12px 0px hsla(0, 0%, 100%, 0.1);
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    overflow: hidden;
    overflow: clip;
    transform: rotateX(-10deg);
    transform-origin: top center;
  }
}

.blackKeyActive {
  background: linear-gradient(
    to bottom,
    var(--key-black),
    var(--key-black-hover)
  );
  &:after {
    transform: translateY(2px);
    transform-origin: top center;
  }
}
