.switch {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  font-size: 18px;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  margin-bottom: 1.5em;
  margin-top: 1px;
}

.control {
  rotate: 90deg;
  display: inline-block;
  box-sizing: border-box;
  width: 2.5em;
  height: 1.25em;
  vertical-align: middle;
  border: 0.25em solid #fafafa;
  border-radius: 0.15em;
  background-color: #fafafa;
  cursor: pointer;
  perspective: 12em;
}

.control::before,
.control::after {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border: 0.025em solid #e1e1e1;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, 300% 100%;
  background-position: center center, 100% 0;
  will-change: transform;
  transition: all 0.2s ease-in-out;
}

.control::before {
  content: "";
  left: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHJlY3Qgd2lkdGg9IjEwIiBoZWlnaHQ9IjIiIHg9IjgiIHk9IjEyIiBmaWxsPSIjNDQ0Ii8+PC9zdmc+"),
    linear-gradient(to right, #fafafa, #e1e1e1);
  box-shadow: -0.075em 0 0 0 #bcbcbc;
  border-radius: 0.075em 0 0 0.075em;
  transform: rotateY(50deg);
  transform-origin: 100% 50%;
  border-left-color: #eeeeee;
  border-right: none;
}

.control::after {
  content: "";
  right: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSI+PGNpcmNsZSBjeD0iMTIuNSIgY3k9IjEyLjUiIHI9IjQuNSIgc3Ryb2tlPSIjNDQ0IiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIC8+PC9zdmc+"),
    linear-gradient(to left, #fafafa, #e1e1e1);
  border-radius: 0 0.075em 0.075em 0;
  box-shadow: 0 0 0 0 #bcbcbc;
  transform: rotateY(0);
  transform-origin: 0 50%;
  border-left: none;
}

.state {
  display: none;
}

.state:checked ~ .control::before,
.state:checked ~ .control::after {
  background-position: center center, 0 0;
}

.state:checked ~ .control::before {
  box-shadow: 0 0 0 0 #bcbcbc;
  border-left-color: #e1e1e1;
  border-right: none;
  transform: rotateY(0);
}

.state:checked ~ .control::after {
  box-shadow: 0.75em 0 0 0 #bcbcbc;
  border-right-color: #eeeeee;
  border-left: none;
  transform: rotateY(-50deg);
}

.dark .control {
  border: 0.25em solid #191919;
  background-color: #191919;
}

.dark .control::before,
.dark .control::after {
  border: 0.025em solid #303030;
}

.dark .control::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHJlY3Qgd2lkdGg9IjEwIiBoZWlnaHQ9IjIiIHg9IjgiIHk9IjEyIiBmaWxsPSIjZjlmOWY5Ii8+PC9zdmc+"),
    linear-gradient(to right, #191919, #303030);
  box-shadow: -0.475em 0 0 0 #535353;
  border-left-color: #818181;
}

.dark .control::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSI+PGNpcmNsZSBjeD0iMTIuNSIgY3k9IjEyLjUiIHI9IjQuNSIgc3Ryb2tlPSIjZjlmOWY5IiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIC8+PC9zdmc+"),
    linear-gradient(to left, #191919, #303030);
  box-shadow: 0 0 0 0 #535353;
}

.dark .state:checked ~ .control::before {
  box-shadow: 0 0 0 0 #535353;
  border-left-color: #303030;
}

.dark .state:checked ~ .control::after {
  box-shadow: 0.475em 0 0 0 #535353;
  border-right-color: #818181;
}
