.switch {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  font-size: 18px;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -0.5em;
  margin-bottom: 1.5em;
  color: var(--color-text-secondary);
  font-size: var(--font-size-md);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.control {
  display: inline-block;
  width: 2.5em;
  height: 1em;
  background-color: #fafafa;
  border: 0.25em solid #fafafa;
  border-radius: 0.15em;
  cursor: pointer;
  rotate: 90deg;
  box-sizing: border-box;
  vertical-align: middle;
  perspective: 12em;
}

.control::before,
.control::after {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-position: center center, 100% 0;
  background-size: 100% 100%, 300% 100%;
  background-repeat: no-repeat, no-repeat;
  border: 0.025em solid #e1e1e1;
  transition: all 0.2s ease-in-out;
  will-change: transform;
}

.control::before {
  left: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHJlY3Qgd2lkdGg9IjEwIiBoZWlnaHQ9IjIiIHg9IjgiIHk9IjEyIiBmaWxsPSIjNDQ0Ii8+PC9zdmc+"),
    linear-gradient(to right, #fafafa, #e1e1e1);
  border-right: none;
  border-radius: 0.075em 0 0 0.075em;
  box-shadow: -0.475em 0 0 0 #bcbcbc;
  transform: rotateY(50deg);
  content: "";
  transform-origin: 100% 50%;
  border-left-color: #eee;
}

.control::after {
  right: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSI+PGNpcmNsZSBjeD0iMTIuNSIgY3k9IjEyLjUiIHI9IjQuNSIgc3Ryb2tlPSIjNDQ0IiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIC8+PC9zdmc+"),
    linear-gradient(to left, #fafafa, #e1e1e1);
  border-left: none;
  border-radius: 0 0.075em 0.075em 0;
  box-shadow: 0 0 0 0 #bcbcbc;
  transform: rotateY(0);
  content: "";
  transform-origin: 0 50%;
}

.state {
  display: none;
}

.state:checked ~ .control::before,
.state:checked ~ .control::after {
  background-position: center center, 0 0;
}

.state:checked ~ .control::before {
  border-right: none;
  box-shadow: 0 0 0 0 #bcbcbc;
  transform: rotateY(0);
  border-left-color: #e1e1e1;
}

.state:checked ~ .control::after {
  border-left: none;
  box-shadow: 0.475em 0 0 0 #bcbcbc;
  transform: rotateY(-50deg);
  border-right-color: #eee;
}

.dark .control {
  background-color: #0a0a0a;
  border-top: 2px solid #0a0a0a;
  border-right: 2px solid #0a0a0a;
  border-bottom: 2px solid #0a0a0a;
  border-left: 1px solid #0a0a0a;
}

.dark .control::before,
.dark .control::after {
  border: none;
}

.dark .control::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHJlY3Qgd2lkdGg9IjEwIiBoZWlnaHQ9IjIiIHg9IjgiIHk9IjEyIiBmaWxsPSIjZjlmOWY5Ii8+PC9zdmc+"),
    linear-gradient(to right, #0a0a0a, #1a1a1a);
  box-shadow: -0.475em 0 0 0 #333;
  border-left-color: #555;
}

.dark .control::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAyNSI+PGNpcmNsZSBjeD0iMTIuNSIgY3k9IjEyLjUiIHI9IjQuNSIgc3Ryb2tlPSIjZjlmOWY5IiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIC8+PC9zdmc+"),
    linear-gradient(to left, #0a0a0a, #1a1a1a);
  box-shadow: 0 0 0 0 #333;
}

.dark .state:checked ~ .control::before {
  box-shadow: 0 0 0 0 #333;
  border-left-color: #1a1a1a;
}

.dark .state:checked ~ .control::after {
  box-shadow: 0.475em 0 0 0 #333;
  border-right-color: #555;
}
