.oscillatorBank {
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  border-radius: var(--border-radius-md);
}

.oscillators {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
