.oscillatorNumber {
  font-size: 3rem;
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 1.5ch;
  border-radius: var(--border-radius-md);
  position: relative;
  top: var(--spacing-xs);
}

.row {
  display: flex;
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
  padding-bottom: var(--spacing-lg);
  border-radius: var(--border-radius-sm);
  &:first-of-type {
    background-color: hsl(350deg 40% 20% / 90%); /* Deep red */
  }
  &:nth-of-type(2) {
    background-color: hsl(45deg 40% 20% / 90%); /* Amber */
  }
  &:last-of-type {
    background-color: hsl(160deg 40% 20% / 90%); /* Emerald */
  }
}
