.knobContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-lg);
}

.knob {
  position: relative;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  box-shadow: 0px 1px 5px hsl(0 0% 0% / 0.5);
  border-radius: 50%;
  display: grid;
}

.dot {
  position: absolute;
  top: 3px;
  left: 50%;
  z-index: 5;
  width: 1.5px;
  height: 12px;
  background: hsl(0, 0%, 65%);
  border-radius: 2px 2px 0 0;
  transform: translate(-50%, -100%);
  content: "";
}

.outerKnob {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: hsl(260 2% 5%);
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* head */
  &::before {
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 5;
    width: 10px;
    height: 14px;
    background: hsl(260 2% 5%);
    border-radius: 40% 40% 0 0;
    transform: translate(-50%, -100%);
    content: "";
  }
  /* tail */
  &::after {
    position: absolute;
    bottom: -85%;
    left: 50%;
    z-index: 5;
    width: 16px;
    height: 14px;
    background: hsl(260 2% 5%);
    border-radius: 0 0 25% 25%;
    transform: translate(-50%, -100%);
    content: "";
  }
}

.outerKnobTop {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: hsl(260 2% 50% / 0.25);
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* filter: blur(1px); */
  /* head */
  &::before {
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 5;
    width: 10px;
    height: 14px;
    background: hsl(260 2% 50% / 0.25);
    border-radius: 40% 40% 0 0;
    transform: translate(-50%, -100%);
    content: "";
  }
  /* tail */
  &::after {
    position: absolute;
    bottom: -85%;
    left: 50%;
    z-index: 5;
    width: 16px;
    height: 14px;
    background: hsl(260 2% 50% / 0.25);
    border-radius: 0 0 25% 25%;
    transform: translate(-50%, -100%);
    content: "";
  }
}

.outerKnobBottom {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: hsl(260 2% 0% / 0.5);
  /* background-color: red; */
  border-radius: 50%;
  display: grid;
  place-items: center;
  filter: blur(1px);
  /* head */
  &::before {
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 5;
    width: 10px;
    height: 14px;
    background: hsl(260 2% 0% / 0.5);
    border-radius: 40% 40% 0 0;
    transform: translate(-50%, -100%);
    content: "";
  }
  /* tail */
  &::after {
    position: absolute;
    bottom: -85%;
    left: 50%;
    z-index: 5;
    width: 16px;
    height: 14px;
    background: hsl(260 2% 0% / 0.5);
    border-radius: 0 0 25% 25%;
    transform: translate(-50%, -100%);
    content: "";
  }
}

.innerKnob {
  width: 70%;
  height: 70%;
  position: absolute;
  border-radius: 50%;
  z-index: 100;
  /* inner shine */
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(
      from 0deg at 50% 50%,
      hsl(180, 0%, 68%) 0%,
      hsl(180, 0%, 30%) 16.5%,
      hsl(240, 0%, 28%) 16.5%,
      hsl(240, 0%, 78%) 33%,
      hsl(180, 0%, 68%) 33%,
      hsl(180, 0%, 30%) 49.5%,
      hsl(240, 0%, 28%) 49.5%,
      hsl(240, 0%, 78%) 66%,
      hsl(180, 0%, 68%) 66%,
      hsl(180, 0%, 30%) 83.5%,
      hsl(240, 0%, 28%) 83.5%,
      hsl(240, 0%, 78%) 100%
    );
    /* filter: blur(0.25px); */
    border-radius: 50%;
  }
  /* outer shine */
  &::after {
    content: "";
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-image: conic-gradient(
      from 59.5deg at 50% 50%,
      hsl(180, 0%, 68%) 0%,
      hsl(180, 0%, 30%) 16.5%,
      hsl(240, 0%, 28%) 16.5%,
      hsl(240, 0%, 78%) 33%,
      hsl(180, 0%, 68%) 33%,
      hsl(180, 0%, 30%) 49.5%,
      hsl(240, 0%, 28%) 49.5%,
      hsl(240, 0%, 78%) 66%,
      hsl(180, 0%, 68%) 66%,
      hsl(180, 0%, 30%) 83.5%,
      hsl(240, 0%, 28%) 83.5%,
      hsl(240, 0%, 78%) 100%
    );
    /* filter: blur(0.5px); */
    border-radius: 50%;
    /* box-shadow: inset 0px 1px 1px hsl(0 0% 0%); */
  }
}

.knobLabel,
.knobValue {
  position: absolute;
  top: -15px;
  left: 50%;
  display: block;
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translateX(-50%);
  user-select: none;
}

.knobValue {
  color: var(--color-text-primary);
  text-transform: unset;
}

.knobValue span {
  font-size: var(--font-size-xs);
  text-transform: uppercase;
}
